@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-size: 1.1rem;
}

body {
  background-image: url("https://img.freepik.com/free-photo/abstract-background-flowing-lines_1048-6533.jpg?w=826&t=st=1712120788~exp=1712121388~hmac=c5b6917f76106095536b286f4c7807b658913c0f302c8dd57fc4f113a4f141d4");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* container styling */

.weather-container {
  background-color: rgba(245, 245, 245, 0.486);
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 1px 5px gray;
}

.img-weather-icon {
  height: 80px;
}

.search-location > input {
  height: 30px;
  padding: 15px;
  font-family: rubik;
  font-size: 1.1rem;
}

.current-situation,
.current-location,
.temp {
  text-transform: uppercase;
}

button {
  padding: 5px 20px;
  border: none;
  background-color: whitesmoke;
}

footer {
  color: white;
}
